.container {
    /* background-color: #f9fafb; */
    color: #1f2937;
}

.header {
    border-bottom: 2px solid var(--color-2);
    margin-bottom: 1.5rem;
    padding: 20px;
}

.header h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.header p {
    font-weight: 100;
    padding: 10px 0;
}

.form_container {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.form {
    flex: 2;
    /* background: white; */
    background-color: var(--bgColor-2);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.section {
    margin-bottom: 1rem;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.inputDiv label {
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.inputDiv input {
    padding: 0.6rem;
    /* border: 1px solid black; */
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--bgColor-3);
    transition: border 0.2s ease-in-out;
}

.inputDiv input:focus {
    border-color: #3b82f6;
}

.dropZone {
    border: 2px dashed #9ca3af;
    padding: 1.5rem;
    border-radius: 12px;
    text-align: center;
    /* background-color: #f3f4f6; */
    cursor: pointer;
    transition: background 0.3s ease;
}

.dragOver {
    background-color: #e0f2fe;
    border-color: #3b82f6;
}

.imagePreview {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.imagePreview img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.saveBtn {
    background-color: #3b82f6;
    color: white;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.3s;
}

.saveBtn:hover {
    background-color: #2563eb;
}

.aside {
    flex: 1;
    /* background: var(--bgColor-2); */
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}


.chipContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.4rem;
    /* border: 1px solid #d1d5db; */
    border-radius: 8px;
    flex-direction: column;
    background: var(--bgColor-1);
}

.chipHolder {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.chip {
    display: flex;
    align-items: center;
    background: var(--bgColor-3);
    color: var(--color-2);
    padding: 0px 10px;
    border-radius: 16px;
    font-size: 0.85rem;
    width: fit-content;
}

.chip button {
    background: none;
    border: none;
    margin-left: 0.4rem;
    cursor: pointer;
    color: var(--color-2);
    font-weight: bold;
}

.chipContainer input {
    border: none;
    outline: none;
    flex: 1;
    min-width: 100px;
}