/* Chip container */
.chipContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.6rem 0;
    border-radius: var(--radius);
    flex-direction: column;
    background: transparent;
}

.chipHolder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.chip {
    display: flex;
    align-items: center;
    background: var(--color-bg-3);
    color: var(--color-1);
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 0.85rem;
    
    border: 1px solid #ccc;
}

.chip button {
    background: none;
    border: none;
    margin-left: 0.4rem;
    cursor: pointer;
    color: var(--color-1);
    font-weight: bold;
}

.chip button:hover {
    color: var(--color-danger);
}

.chipContainer input {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-1);
    flex: 1;
    min-width: 100px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.chipContainer input:focus{
    background-color: white;
    border: 1px solid gray;
}