.statCard {
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background: var(--color-bg-2);
    border: none;
    height: 100%;
}
.statCard h3{
font-size: clamp(12px, 2vw, 18px);
}
.statValue {
    font-size: clamp(18px, 2vw, 24px);
    font-weight: bold;
    margin: 8px 0;
    color: var(--color-1);
}

.statChange {
    font-size: clamp(10px, 2vw, 12px);
}

.positive {
    color: #2ecc71;
}

.negative {
    color: #e74c3c;
}