/* PromoDashboard.module.css */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
  padding: clamp(4px, 1vw, 20px);
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-weight: 600;
}

.fieldGroup {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  transition: 0.2s;
}

.input:focus {
  border-color: #888;
  outline: none;
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.85;
}

.promoList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.promoItem {
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
  padding: 14px;
  border-radius: 12px;
  align-items: center;
  transition: 0.3s;
}

.promoItem:hover {
  background: #efefef;
}

.promoCode {
  font-weight: 600;
}

.deleteBtn {
  background: #e63946;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.deleteBtn:hover {
  opacity: 0.85;
}


.inactivePromo {
  opacity: 0.6;
}

.inactivePromo .promoCode {
  text-decoration: line-through;
}
.inactivePromo .deleteBtn {
  background: rgb(102, 144, 121);
}

.checkboxGroup{
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.checkboxGroup label{
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}