.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboardTitle {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-primary);
}

.header select {
  background-color: transparent;
  padding: 10px 18px;
  border-radius: 12px;
  color: var(--color-2);
}

.header option {
  background: none;
  color: var(--color-2);
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.chartsGrid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 24px;
}